* {
    box-sizing: border-box;
}
@mixin mediaQuery($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    .box {
        height: 100px;
        flex-basis: 300px;
    }
    .box1 {
        background-color: green;
        // @include mediaQuery(992px) {
        //     flex-basis: 100%;
        // }
    }
    .box2 {
        background-color: red;
    }
    .box3 {
        background-color: purple;
    }
    .box4 {
        background-color: blue;
    }
}