* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  display: flex; }
  .wrapper .box {
    height: 100px;
    flex-basis: 300px; }
  .wrapper .box1 {
    background-color: green; }
  .wrapper .box2 {
    background-color: red; }
  .wrapper .box3 {
    background-color: purple; }
  .wrapper .box4 {
    background-color: blue; }
